In [1]:
%load_ext autoreload
%autoreload 2

import gc
import sys
import asyncio
import time
import pickle
import json
import os

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import display, HTML

pd.set_option('display.max_rows', 20)
pd.set_option('display.max_columns', 100)
sys.path.append("..")


with open('dump.pkl', 'rb') as dump_file:
    dump = pickle.load(dump_file)

shops = dump['shops']
items = dump['items']
cats = dump['categories']
train = dump['sales']

In [2]:
# %%time

import json5
import pprint

from src import assemble

def getAssemblerShape(path):
    json = open(path).read()
    obj = json5.loads(json)
    features = []
    for f in obj['features']:
        features.append(f.strip().replace('tblock', 'month_block')
                        .replace('tcount', 'item_cnt_month'))
    obj['features'] = features
    return obj

shape = getAssemblerShape('features.json5')

# To save memory for now
items = items.loc[:1000]

assemble(shape, {
    "Shops": shops,
    "Items": items,
    "Categories": cats,
    "Sales": train,
})

colUniqueVals dict_keys(['item', 'shop'])
Generating output of size 1981980

Processing 1/3: Sales.SUM(item_cnt_day|CMONTH(date),shop,item)

Processing 2/3: Sales.MEAN(item_cnt_day|item,CMONTH(date))

Processing 3/3: Sales.SUM(revenue|shop,CMONTH(date))

,CMONTH(date),shop,item,"Sales.SUM(item_cnt_day|CMONTH(date),shop,item)","Sales.MEAN(item_cnt_day|item,CMONTH(date))","Sales.SUM(revenue|shop,CMONTH(date))"
0,157,0,4128,NaN,1.000,NaN
1,158,0,4128,NaN,1.125,NaN
2,159,0,4128,NaN,1.000,NaN
3,160,0,4128,NaN,1.000,NaN
4,161,0,4128,NaN,1.250,NaN
5,162,0,4128,NaN,1.000,NaN
6,163,0,4128,NaN,NaN,NaN
7,164,0,4128,NaN,1.000,NaN
8,165,0,4128,NaN,NaN,NaN
9,166,0,4128,NaN,NaN,NaN
...,...,...,...,...,...,...
1981970,180,59,911,NaN,NaN,98339.0
1981971,181,59,911,NaN,NaN,71722.0
1981972,182,59,911,NaN,NaN,30327.0
1981973,183,59,911,NaN,NaN,62190.0
1981974,184,59,911,NaN,NaN,151682.0
1981975,185,59,911,NaN,1.000,79515.0
1981976,186,59,911,NaN,NaN,47516.0
1981977,187,59,911,NaN,NaN,35052.0
1981978,188,59,911,NaN,NaN,40520.0
1981979,189,59,911,NaN,NaN,77074.0